/*
!/chessengine/
!.gitignore

chessengine/*
!chessengine/src/
!chessengine/resources/
!chessengine/.vscode/
!chessengine/pom.xml

chessengine/target/
chessengine/.classpath
chessengine/.project
chessengine/.settings/

.idea/
*.iml
*.swp
*.swo

.DS_Store
Thumbs.db
*.log
